<div class="card shadow p-3 mb-5 bg-white" style="width: 300px;">
    <img src="{{ source.image }}" class="card-img-top" alt="image" style="max-height: 120px;">
    <div class="card-body">
        <h5 class="card-title">{{ source.title }}</h5>
        <p class="card-text">{{ source.description}}</p>
        <a href="{{ source.url }}" class="btn btn-primary">Consulter l'article</a>
    </div>
</div>