<div class="card shadow p-3 mb-5 bg-white" style="width: 300px;">
    <img src="https://picsum.photos/200/300" class="card-img-top" alt="image" style="max-height: 120px;">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>