{% extends 'app_layout.html.twig' %}

{% block page_title %}
Homepage
{% endblock %}

{% block content %}
    <h1>Homepage</h1>
    <div class="row row-cols-auto">
        <div class="col col-xs-12">
            {% include 'source/card.html.twig' %}
        </div>
        <div class="col col-xs-12">
            {% include 'source/card.html.twig' %}
        </div>
        <div class="col col-xs-12">
            {% include 'source/card.html.twig' %}
        </div>
        <div class="col col-xs-12">
            {% include 'source/card.html.twig' %}
        </div>
        <div class="col col-xs-12">
            {% include 'source/card.html.twig' %}
        </div>
        <div class="col col-xs-12">
            {% include 'source/card.html.twig' %}
        </div>
    </div>
{% endblock %}
