{% extends 'app_layout.html.twig' %}

{% block page_title %}
Homepage
{% endblock %}

{% block content %}
    <h1>Homepage</h1>
    <div class="row row-cols-auto">
        {% for source in sources %}
            <div class="col col-xs-12">
                {% include 'source/card.html.twig' %}
            </div>
        {% else %}
            <p class="col-12 alert alert-warning" role="alert">No data to display</p>
        {% endfor %}
    </div>
{% endblock %}
